.header__container{
  border-bottom: 1px solid rgba(128, 128, 128, 0.203);
}

.header__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0px;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.header__logo__img img{
  max-width: 36px;
  width: 100%;
  height: auto;
}

.header__logo__name span{
  font-size: 30px;
  font-weight: 800;
}

.header__items__social{
  display: flex;
  list-style: none;
}

.header__items__social li{
  margin-right: 10px;
}

.header__items__social li:last-child{
  margin-right: 0;
}

.header__items__social li a{
  text-decoration: none;
  padding: 6px 8px;
  color: black;
}

.header__items__social li a:hover{
  background-color: var(--heading);
  border-radius: 5px;
}
